* {
  font-family: Palatino, Open Sans;
}

h2 {
  text-align: center;
  font-size: 30px;
}
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

div {
  text-align: center;
}
.button {
  background-color: Black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;

}

.button_25 {
  background-color: #4CAF50;
  color: white;
} /* Green */
.button_15 {
  background-color: #008CBA;
} /* Green */
.button_10 {
  background-color: #f44336;
} /* Green */
.button_5 {
  background-color: #ff8c1a;
} /* Green */
.button_1 {
  background-color: #cc99ff;
} /* Green */
